body {
    background: #242424;
    text-align: center;
    color: white;
    font-family: sans-serif;
    border: 20px;
    border-color: aliceblue;
}

h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 60px;
    margin: 10px;
    background-color: #424249;
}

p {
    font-size: 20px;
}

button {
    background-color: olive;
}

input[type="fill"] {
    border-radius: 10px;
    border-color: tomato;
}

.editor {
    width: 95%;
    height: auto;
}

.tools {
    float: right;
    width: 30%;
    text-align: right;
}

.img {
    width: 55%;
    padding-left: 10%;
    height: auto;
}